
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
        margin-bottom: 20px;
}

label {
    display: inline-block; /* Display labels inline-block */
    margin: 5px 10px; /* Adjust margin as needed */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    font-weight: bold;
}